---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3bb3a819-e602-44d6-b1d5-f6069a54c408
      Original-Request:
      - req_HB4w26nBKSxWFI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1Np5m6L2O6eMjhLxXYLFLVtO",
          "object": "token",
          "card": {
            "id": "card_1Np5m6L2O6eMjhLxt4z02vUs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "yEuyYq9Bn1p8NKNm",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "176.194.237.231",
          "created": 1694422038,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 11 Sep 2023 08:47:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1Np5m6L2O6eMjhLxXYLFLVtO&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
      Idempotency-Key:
      - 2023-09-11 11:47:18 +0300/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-09-11 11:47:18 +0300/1/1
      Original-Request:
      - req_aqJtUIt6iSsYNK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3Np5m7L2O6eMjhLx1UPiAD6K",
          "object": "charge",
          "amount": 299,
          "amount_captured": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3Np5m7L2O6eMjhLx1pzGFGcm",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1694422039,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 26,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1Np5m6L2O6eMjhLxt4z02vUs",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2028,
              "fingerprint": "yEuyYq9Bn1p8NKNm",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "network_token": {
                "used": false
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTjFPVjJMMk82ZU1qaEx4KJeo-6cGMgaqvDySlVg6LBZkWvhA0w7iAG12CvQpLP8VM5kUF8TOog8g0FkwXHWIsO0xGIL3tpN6wJSd",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Np5m6L2O6eMjhLxt4z02vUs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "yEuyYq9Bn1p8NKNm",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 11 Sep 2023 08:47:19 GMT
recorded_with: VCR 6.2.0
