---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3NtsTqL2O6eMjhLx0gOGkllg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3NtsTqL2O6eMjhLx0gOGkllg",
          "object": "charge",
          "amount": 355,
          "amount_captured": 355,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3NtsTqL2O6eMjhLx0RUPUvpV",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1695562574,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 47,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1NtsTqL2O6eMjhLx4iK0GqsL",
          "payment_method_details": {
            "card": {
              "amount_authorized": 355,
              "brand": "mastercard",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 9,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "UfFFbO6iGvROGe2q",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4444",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "mastercard",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 355,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTjFPVjJMMk82ZU1qaEx4KOP7wKgGMgacP0HRFQY6LBZ2oU7MJV7ASzzdbTEYyXRpvAx1NBc4k_AC9uf2kDPFnd3YmC8RWRNbq04Y",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1NtsTqL2O6eMjhLx4iK0GqsL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "MasterCard",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "UfFFbO6iGvROGe2q",
            "funding": "credit",
            "last4": "4444",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 24 Sep 2023 13:47:15 GMT
recorded_with: VCR 6.2.0
