---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3NtsnKL2O6eMjhLx1ld0rA0E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3NtsnKL2O6eMjhLx1ld0rA0E",
          "object": "charge",
          "amount": 355,
          "amount_captured": 0,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": null,
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": false,
          "created": 1695563782,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": "card_declined",
          "failure_message": "Your card has insufficient funds.",
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "declined_by_network",
            "reason": "insufficient_funds",
            "risk_level": "normal",
            "risk_score": 59,
            "seller_message": "The bank returned the decline code `insufficient_funds`.",
            "type": "issuer_declined"
          },
          "paid": false,
          "payment_intent": null,
          "payment_method": "card_1NtsnKL2O6eMjhLxf89Xs30J",
          "payment_method_details": {
            "card": {
              "amount_authorized": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 9,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "lvSJn1RO1IDuHLWf",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "9995",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 355,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": null,
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1NtsnKL2O6eMjhLxf89Xs30J",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "lvSJn1RO1IDuHLWf",
            "funding": "credit",
            "last4": "9995",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "failed",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 24 Sep 2023 14:01:06 GMT
recorded_with: VCR 6.2.0
