---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=355&currency=USD&source=tok_visa_chargeDeclinedInsufficientFunds
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 064ea0f4-3c77-49cb-ab19-3746aa6ddc47
      Original-Request:
      - req_4TfiwLejICkm7X
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3NtsnKL2O6eMjhLx1ld0rA0E",
            "code": "card_declined",
            "decline_code": "insufficient_funds",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card has insufficient funds.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_4TfiwLejICkm7X?t=1695563782",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 24 Sep 2023 13:56:23 GMT
recorded_with: VCR 6.2.0
