---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=355&currency=USD&source=tok_visa_chargeDeclinedLostCard&metadata[payment_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28payment+ID%3A+2%29
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
      Idempotency-Key:
      - d573a7aae50c02bc822e9c12241e0662cc49760c
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d573a7aae50c02bc822e9c12241e0662cc49760c
      Original-Request:
      - req_GH9mxjI6stYwC7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3NtoMjL2O6eMjhLx0wXuRRzz",
            "code": "card_declined",
            "decline_code": "lost_card",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_GH9mxjI6stYwC7?t=1695546757",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 24 Sep 2023 09:12:38 GMT
recorded_with: VCR 6.2.0
