---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51N1OV2L2O6eMjhLxBkY2vpceOIU5aPwOyQnm4tuLLJN4vGCSRzMmAkXDR9WO6ubSbAQKlLr6LYO56MEMXmRF2HU300YYy93pFZ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 79289d73-0ef4-40ec-a72f-d8f5abab9b3f
      Original-Request:
      - req_QUIS6Yq1dF0X80
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1Np8OpL2O6eMjhLxxJ2zKTMK",
          "object": "token",
          "card": {
            "id": "card_1Np8OpL2O6eMjhLxzVNa8Rci",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "yEuyYq9Bn1p8NKNm",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "176.194.237.231",
          "created": 1694432127,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 11 Sep 2023 11:35:27 GMT
recorded_with: VCR 6.2.0
